	<!-- footer -->
	<div id="footer" class="col-xs-12 col-sm-3 col-md-3 text-center">
		<hr>
		<small>
		<ul class="list-inline">
		<li><a href="https://500px.com/ancientlives">500px</a></li>
		<li><a href="https://www.flickr.com/photos/ancientlives/">Flickr</a></li>
		<li><a href="https://github.com/ancientlives">GitHub</a></li>
		<li><a href="https://www.google.com/+ancientlives">Google+</a></li>
		<li><a href="https://twitter.com/ancientphotos">Twitter</a></li>
		<li><a href="https://www.youtube.com/user/ancientlives">YouTube</a></li>
		</ul>
    	<p>Copyright &copy; <a href="mailto:ancientlives@gmail.com">ancientlives</a> 2015</p>
    	</small>
    </div><!-- /footer -->